@font-face {
  font-family: 'AstronRegular';
  src: url('/fonts/Astron.otf') format('opentype');
}

@font-face {
  font-family: 'AstronLight';
  src: url('/fonts/Astron-Light.otf') format('opentype');
}

@font-face {
  font-family: 'AstronBold';
  src: url('/fonts/Astron-Bold.otf') format('opentype');
}

:root {
  --black: #1a1c1d;
  --gray: #313131;
  --gray-one: #ababab;
  --gray-two: #c2c2c2;
  --white: #fdfdfd;
  --blue: #2956ed;

  --font-astron-regular: 'AstronRegular', sans-serif;
  --font-astron-light: 'AstronLight', sans-serif;
  --font-astron-bold: 'AstronBold', sans-serif;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--white);
  color: var(--black);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-nunito);
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


/* BTNS */

*.btn-white {
  width: auto;
  height: auto;
  border-radius: 50px;
  padding: 10px 15px;
  border: 1px solid var(--black);
  background: var(--white);
  color: var(--black);
  font-size: 14px;
  font-weight: 700;
  scale: 1;
  transition: all .3s;
} *.btn-white:focus,
*.btn-white:hover {
  scale: 0.95;
}

*.btn-black {
  width: auto;
  height: auto;
  border-radius: 50px;
  padding: 10px 15px;
  background-color: #3898ec00;
  background-image: linear-gradient(#4d4d4d, #000);
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s;
  box-shadow: inset 0 1px 1px #ffffff40;
  scale: 1;
} *.btn-black:focus,
*.btn-black:hover {
  scale: 0.95;
}