.container-landing {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
}

/* NAVBAR */
.container-navbar {
    width: 725px;
    max-width: 92.5%;
    height: 70px;
    border-radius: 50px;
    background: var(--black);
    color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-navbar .content-navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.container-navbar .content-navbar img {
    width: 180px;
    height: auto;
    filter: invert();
    margin: 0px;
}

.container-navbar .content-navbar .links {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 22.5px;
}

.container-navbar .content-navbar .links a {
    font-size: 16px;
    font-weight: 600;
}

.container-navbar .content-navbar .btns {
    width: max-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* CONTENT */
.container-landing .content-landing {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 75px 0px 0 0px;
}

.container-landing .content-landing .text {
    width: 92.5%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-landing .content-landing .text h2 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.container-landing .content-landing .text h1 {
    max-width: 6000px;
    font-size: 3rem;
    font-weight: 800;
    line-height: 56px;
    text-align: center;
    margin: 10px 0px;
}

.container-landing .content-landing .text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 8px 0px;
}

.container-landing .content-landing .text .btns {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 15px 0px;
}

.container-landing .content-landing .text .btns a {
    font-size: 15.5px;
    padding: 16px 22px;
}

.container-landing .content-landing .privileged {
    width: 92.5%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

.container-landing .content-landing .privileged p {
    font-size: 16px;
    font-weight: 400;
    line-height: 0.5px;
    text-align: center;
    margin: 8px 0px;
}

.container-landing .content-landing .privileged .list {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 15px 0px;
}

.container-landing .content-landing .privileged .list img {
    width: auto;
    height: 70px;
    filter: grayscale(100%);
    transition: all .3s;
} .container-landing .content-landing .privileged .list img:hover {
    filter: grayscale(0%);
}


/* Frameworks */
.container-landing .content-frameworks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.container-landing .content-frameworks .text {
    width: 92.5%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-landing .content-frameworks .text .tag {
    width: auto;
    height: auto;
    border-radius: 20px;
    color: var(--black);
    border: 1px solid var(--gray-one);
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 12px 0px;
}

.container-landing .content-frameworks .text .tag p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin: 0px;
}

.container-landing .content-frameworks .text h1 {
    font-size: 42px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
    margin: 0px 0px 8px 0px;
}

.container-landing .content-frameworks .text p {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.container-landing .content-frameworks .list {
    width: 92.5%;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 25px 0px;
}

.container-landing .content-frameworks .list .item {
    flex: 1;
    min-width: 320px;
    height: auto;
    border-radius: 20px;
    background: #fff;
    border: 1px solid var(--gray-two);
    padding: 25px;
}

.container-landing .content-frameworks .list .item img {
    width: 65px;
    height: auto;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 0px 10px 0px;
    border: 1px solid var(--gray-two);
}

.container-landing .content-frameworks .list .item p {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
}

.container-landing .content-frameworks .list .item .row {
    width: 100%;
    height: auto;
    border-top: 1px solid var(--gray-two);
    margin: 15px 0px;
}


/* Plans */
.container-landing .content-plans {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px;
    background: var(--backgroundWhite);
}

.container-landing .content-plans .text {
    width: 92.5%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-landing .content-plans .text .tag {
    width: auto;
    height: auto;
    border-radius: 20px;
    color: var(--black);
    border: 1px solid var(--gray-one);
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 12px 0px;
}

.container-landing .content-plans .text .tag p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin: 0px;
}

.container-landing .content-plans .text h1 {
    font-size: 44px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.container-landing .content-plans .text p {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.container-landing .content-plans .plans {
    width: 92.5%;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 25px 0px;
}

.container-landing .content-plans .plans .plan {
    flex: 1;
    min-width: 320px;
    height: auto;
    border-radius: 12px;
    background: #fff;
    border: 1px solid var(--gray-two);
    padding: 25px;
}

.container-landing .content-plans .plans .plan h1 {
    font-size: 26px;
    font-weight: 800;
    line-height: unset;
    margin: 0px 0px 12px 0px;
} .container-landing .content-plans .plans .plan h1 span {
    font-size: 19px;
    font-weight: 600;
}

.container-landing .content-plans .plans .plan h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: unset;
    margin: 0px 0px 10px 0px;
}

.container-landing .content-plans .plans .plan p {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: var(--gray);
    margin: 0px 0px 7.5px 0px;
}

.container-landing .content-plans .plans .plan .link {
    width: 100%;
    height: 45px;
    border-radius: 50px;
    border: 1px solid var(--black);
    background: var(--white);
    color: var(--black);
    font-size: 14px;    
    font-weight: 700;
    margin: 10px 0px;
    cursor: pointer;
    transition: all .3s;
} 

.container-landing .content-plans .plans .plan .link.black {
    background-color: #3898ec00;
    background-image: linear-gradient(#4d4d4d, #000);
    color: var(--white);
}

.container-landing .content-plans .plans .plan .link:hover,
.container-landing .content-plans .plans .plan .link:focus {
    scale: 1.025;
}

.container-landing .content-plans .plans .plan .features {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 7.5px 0px 0px 0px;
}

.container-landing .content-plans .plans .plan .features .item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-landing .content-plans .plans .plan .features .item .icon {
    min-width: 23px;
    max-width: 23px;
    min-height: 23px;
    max-height: 23px;
    margin: 0px 8px 0px 0px;
} .container-landing .content-plans .plans .plan .features .item .icon.green {
    color: var(--green);
} .container-landing .content-plans .plans .plan .features .item .icon.red {
    color: var(--red);
}

.container-landing .content-plans .plans .plan .features .item p {
    font-size: 15.75px;
    margin: 0px;
}


/* Footer */
.container-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.container-footer .content-footer {
    width: 90%;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer Top */
.container-footer .content-footer .top {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 2px;
}

.container-footer .content-footer .top .list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-footer .content-footer .top .list .item {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-footer .content-footer .top .list .item img {
    width: 160px;
    height: auto;
}

.container-footer .content-footer .top .list .item h1 {
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 5px 0px;
}

.container-footer .content-footer .top .list .item a {
    font-size: 15px;
    font-weight: 400;
    transition: all .3s ease-in-out;
} .container-footer .content-footer .top .list .item a:focus,
.container-footer .content-footer .top .list .item a:hover {
    text-decoration: underline;
}

.container-footer .content-footer .row {
    width: 100%;
    height: auto;
    border-top: 2px solid var(--gray-two);
    margin: 25px 0px;
}


/* Footer Bottom */
.container-footer .content-footer .bottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px 2px;
}

.container-footer .content-footer .bottom p {
    font-size: 16px;
    font-weight: 400;
    line-height: 0.5px;
    text-align: center;
}

.container-footer .content-footer .bottom p a {
    font-size: 16px;
    font-weight: 400;
    line-height: 0.5px;
    text-align: center;
    color: var(--blue);
    margin: 0px;
}



/* MOBILE */
@media (max-width: 800px) {
    .container-navbar {
        width: 92.5%;
    }

    .container-navbar .content-navbar .links {
        display: none;
    }

    .title {
        font-size: 2rem !important;
        line-height: 42px !important;
    }

    @media (max-width: 420px) {
        .container-navbar .content-navbar {
            justify-content: center;    
        }

        .container-navbar .content-navbar img {
            width: 90%;
            max-width: 200px;
            height: auto;
        }

        .container-navbar .content-navbar .btns {
            display: none;           
        }
    }
}

@media (max-width: 680px) {
    .container-footer .content-footer .top .list {
        flex-direction: column;
        gap: 22.5px;
    }

    @media (max-width: 550px) {
        .container-footer .content-footer .bottom {
            justify-content: center;
            align-items: center;
        }
    }
}